.countryCard {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 60px;
}
.countryCard-img-container {
  height: 160px;
  width: 264px;
}
.countryCard-img-container img {
  height: 100%;
  width: 264px;
}
.countryCard-infos-container {
  padding: 10px;
  background-color: rgba(43, 55, 67, 255);
}
.countryCard-infos-container h2 {
  font-size: 15px;
}
.countryCard-info-container {
  display: flex;
}
.darkMode-shadow {
  box-shadow: 4px 4px 4px #1a242b;
}
.lightMode-shadow {
  box-shadow: 4px 4px 4px #e8e8e8;
}
