a {
  color: rgba(255, 255, 255, 0.87) !important;
  text-decoration: inherit; /* no underline */
}
.container {
  padding: 0 10%;
}
.darkMode-color1 {
  background-color: rgba(32, 45, 54, 255);
}
.darkMode-color2 {
  background-color: rgba(43, 55, 67, 255);
}
.lightMode-img {
  filter: invert(100%);
}
